<h2>My heroes</h2>

<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes"> <!-- li is the host element. Heroes holds the heroes list -->
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}} </span> 
      {{hero.name}}
    </a>
    <!--button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}} </span> 
      <span class="name">{{hero.name}}</span>
    </button-->
    <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>

<!--app-hero-detail [hero]="selectedHero"></app-hero-detail-->
